<div class="fields">
  <mat-form-field>
    <input matInput placeholder="Attribut Name" [(ngModel)]="attribute.label" />
  </mat-form-field>
</div>

<div class="actions" *ngIf="attribute.id">
  <button mat-button color="warn" class="delete-button" (click)="confirmAttributeDeletion()">
    <mat-icon>delete</mat-icon>
    Attribut löschen
  </button>
</div>

<button mat-fab matTooltip="Attribut speichern" matTooltipPosition="left" class="save-button" (click)="saveAttribute()"><mat-icon>save</mat-icon></button>