<div class="fields">
  <mat-form-field>
    <input matInput placeholder="Room Name" [(ngModel)]="room.name" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Room No." [(ngModel)]="room.number" />
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Notes" [(ngModel)]="room.notes"></textarea>
  </mat-form-field>
</div>

<div class="actions">
  <button mat-button color="warn" class="delete-button" (click)="confirmRoomDeletion()">
    <mat-icon>delete</mat-icon>
    Delete Room
  </button>
</div>

<button mat-fab class="save-button" (click)="saveRoom()"><mat-icon>save</mat-icon></button>