<div class="fields">
  <mat-form-field>
    <input matInput placeholder="Raumbezeichnung" [(ngModel)]="room.name" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Raumnummer" [(ngModel)]="room.number" />
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Notizen" [(ngModel)]="room.notes"></textarea>
  </mat-form-field>
</div>

<div class="actions" *ngIf="room.id">
  <button mat-button color="warn" class="delete-button" (click)="confirmRoomDeletion()">
    <mat-icon>delete</mat-icon>
    Raum löschen
  </button>
</div>

<button mat-fab class="save-button" (click)="saveRoom()"><mat-icon>save</mat-icon></button>