<div class="fields">
  <mat-form-field>
    <input matInput placeholder="Supplier Name" [(ngModel)]="supplier.name" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Supplier Street" [(ngModel)]="supplier.street" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Supplier ZIP" [(ngModel)]="supplier.postalCode" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Supplier City" [(ngModel)]="supplier.city" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Supplier Telephone" [(ngModel)]="supplier.telephone" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Supplier Mobile" [(ngModel)]="supplier.mobile" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Supplier Fax" [(ngModel)]="supplier.fax" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Supplier E-Mail" [(ngModel)]="supplier.email" />
  </mat-form-field>
</div>

<div class="actions" *ngIf="supplier.id">
  <button mat-button color="warn" class="delete-button" (click)="confirmSupplierDeletion()">
    <mat-icon>delete</mat-icon>
    Delete Supplier
  </button>
</div>
  
<button mat-fab class="save-button" (click)="saveSupplier()"><mat-icon>save</mat-icon></button>