<div class="fields">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="supplier.name" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Straße" [(ngModel)]="supplier.street" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Postleitzahl" [(ngModel)]="supplier.postalCode" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Stadt" [(ngModel)]="supplier.city" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Telefonnummer" [(ngModel)]="supplier.telephone" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Mobilnummer" [(ngModel)]="supplier.mobile" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Fax" [(ngModel)]="supplier.fax" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="E-Mail" [(ngModel)]="supplier.email" />
  </mat-form-field>
</div>

<div class="actions" *ngIf="supplier.id">
  <button mat-button color="warn" class="delete-button" (click)="confirmSupplierDeletion()">
    <mat-icon>delete</mat-icon>
    Zulieferer löschen
  </button>
</div>
  
<button mat-fab matTooltip="Zulieferer speichern" matTooltipPosition="left" class="save-button" (click)="saveSupplier()"><mat-icon>save</mat-icon></button>