<mat-toolbar color="primary">
  <span>{{ title }}</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" [fixedInViewport]="true" [fixedTopGap]="64" opened>
    <!-- Navigation -->
    <mat-nav-list>
      <!-- Rooms -->
      <a mat-list-item routerLink="/rooms">
        <mat-icon mat-list-icon>meeting_room</mat-icon>
        <span mat-line>Räume</span>
      </a>

      <!-- Suppliers -->
      <a mat-list-item routerLink="/suppliers">
        <mat-icon mat-list-icon>local_shipping</mat-icon>
        <span mat-line>Zulieferer</span>
      </a>

      <!-- Components -->
      <a mat-list-item routerLink="/components">
        <mat-icon mat-list-icon>computer</mat-icon>
        <span mat-line>Components</span>
      </a>

      <!-- Component Types -->
      <a mat-list-item routerLink="/componenttypes">
        <mat-icon mat-list-icon>widgets</mat-icon>
        <span mat-line>Komponentenarten</span>
      </a>

      <!-- Attributes -->
      <a mat-list-item routerLink="/attributes">
        <mat-icon mat-list-icon>list</mat-icon>
        <span mat-line>Attribute</span>
      </a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>