mat-form-field
{
  width: 100%;
  padding: 10px 10px 0;
}


table { width: 100% }
.mat-column-roomNumber { width: 100px }
.mat-column-roomName { width: 200px }


.mat-column-componentTypeList
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.mat-column-actions { width: 20px }

.add-button
{
  position: fixed;
  bottom: 20px;
  right: 20px;
}
